.frame1{
    background: var(--bw10);
    height: 240px;
    border-radius: 2.5px;
}

.frame1-1{
    background: var(--radial-orange);
    padding: 25px;
    padding-bottom: 15px !important;
}

.frame1-1 p{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.frame1-1 p span{
    border-radius: 3px;
    padding: 5px 16px;
    background: var(--bw10);
    margin-right: 14px;
}

.frame1-1, .frame1-2{
    height: 200px;
    border-radius: 3px;
    width: 45%;
    border-radius: 3px;
    overflow: hidden;
}

.frame1-1 .icon-excel{
    /* width: 95.46px; */
    height: 60px;
}

.frame1-2 h5{
    border-radius: 3px 3px 0 0;
}

.frame1-2 .bar-default{
    height: 12.253658294677734px;
    border-radius: 25px;
}

.frame1-2 .bar-progress{
    height: 12.253658294677734px;
    border-radius: 25px;
    width: 20%;
    background: var(--radial-orange);
}

.frame2{
    background: var(--bw10);
    padding: 30px 20px 10px 20px;
}

.frame2 .box-foto{
    width: 100px;
    height: 100.01px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
}

.frame2 .box-foto img:nth-child(1){
    position: absolute;
    width: 110px;
    height: auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-bottom: -3px;
}

.frame2 .box-foto img:nth-child(2){
    position: absolute;
    right: 5px;
    top: 5px;
    height: 18px;
    width: 18px;
    border-radius: 2px;
}

.frame2 .box-foto img:nth-child(2):hover{
    cursor: pointer;
}

.frame-2 .search{
    border-radius: 4px 4px 0 0;
}

.frame-2 .head-list-siswa p{
    font-size: 18px;
    font-weight: 600;
    color: var(--main-text);
}

.head-list-siswa p:nth-child(1), .data-list-siswa p:nth-child(1){
    width: 45px;
    margin: 0;
}
.head-list-siswa p:nth-child(2), .img{
    width: 65px;
    padding-left: 8px;
    margin: 0;
}

/* .head-list-siswa p:nth-child(3),
.data-list-siswa p:nth-child(3){
    width: 90px;
    text-align: center;
    margin: 0;
    background: salmon;
} */

.head-list-siswa p:nth-child(4),
.data-list-siswa p:nth-child(4){
    width: 90px;
    text-align: center;
    margin: 0;
}

.head-list-siswa p:nth-child(5),
.data-list-siswa p:nth-child(5),

.head-list-siswa p:nth-child(6),
.data-list-siswa p:nth-child(6),

.head-list-siswa p:nth-child(7),
.data-list-siswa p:nth-child(7),

.head-list-siswa p:nth-child(8),
.data-list-siswa p:nth-child(8),

.head-list-siswa p:nth-child(9),
.data-list-siswa p:nth-child(9),

.head-list-siswa p:nth-child(10),
.data-list-siswa p:nth-child(10){
    width: 153px;
    text-align: center;
    margin: 0;
}

.head-list-siswa p:nth-child(11),
.data-list-siswa p:nth-child(11){
    width: 100px;
    text-align: center;
    margin: 0;
}

.data-list-siswa p:nth-child(11) img:hover{
    cursor: pointer;
}

input[type=text]{
    border-radius: 20px;
    padding: 8px 16px;
    border: none;
    width: 920px;
}

.form-control:focus {
    box-shadow:none !important;
    outline:0px !important;
    border-color: var(--orange);
}

.form-check-input:active{
    box-shadow:none !important;
    outline:0px !important;
}

.frame1-saw{
    background: var(--radial-orange);
    height: 120px;
    border-radius: 4px;
}

.frame-2 .head-bobot p{
    font-size: 18px;
    font-weight: 600;
    color: var(--main-text);
    width: 135px;
    text-align: center;
}

.frame-2 .list-bobot p{
    color: var(--main-text);
    width: 135px;
    text-align: center;
}